<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83b467">  <td>19/07/14 15:59:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.leafBot.testcases.CL@9ba398]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>19/07/14 15:59:15</td>   <td>13682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.leafBot.testcases.CL@9ba398]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>19/07/14 15:58:29</td>   <td>-32152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.leafBot.testcases.CL@9ba398]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>19/07/14 15:59:02</td>   <td>596</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.leafBot.testcases.CL@9ba398]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/07/14 15:58:56</td>   <td>-6018</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CL.loginAndLogout(java.lang.String, java.lang.String)[pri:0, instance:com.leafBot.testcases.CL@9ba398]">loginAndLogout</td> 
  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/07/14 15:59:12</td>   <td>10842</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CL.loginAndLogout(java.lang.String, java.lang.String)[pri:0, instance:com.leafBot.testcases.CL@9ba398]">loginAndLogout</td> 
  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>19/07/14 15:58:27</td>   <td>-34246</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:com.leafBot.testcases.CL@9ba398]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/07/14 15:58:27</td>   <td>-34607</td> <td>&nbsp;</td><td title="&gt;&gt;CL.setData()[pri:0, instance:com.leafBot.testcases.CL@9ba398]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>19/07/14 15:58:27</td>   <td>-34593</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.leafBot.testcases.CL@9ba398]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>19/07/14 15:58:26</td>   <td>-35353</td> <td title="&gt;&gt;Reporter.startReport()[pri:0, instance:com.leafBot.testcases.CL@9ba398]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>19/07/14 15:59:16</td>   <td>14064</td> <td title="&lt;&lt;Reporter.stopReport()[pri:0, instance:com.leafBot.testcases.CL@9ba398]">&lt;&lt;stopReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>19/07/14 15:59:15</td>   <td>13825</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.leafBot.testcases.CL@9ba398]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
</table>
